asgiref==3.6.0
bottle==0.12.23
cx-Oracle==8.3.0
distlib==0.3.6
Django==4.1.6
django-cors-headers==3.13.0
dnspython==2.2.1
filelock==3.8.0
greenlet==2.0.0
Pillow==9.4.0
platformdirs==2.5.4
psycopg2==2.9.5
pymongo==4.3.3
SQLAlchemy==1.4.42
sqlparse==0.4.3
tzdata==2022.7
virtualenv==20.16.7
